$G-grid-width: 80px;
$G-grid-width-percent: 6.3091%;
$G-gutter-width: 28px;
$G-gutter-width-percent: 2.2082%;
$G-half-gutter-width: $G-gutter-width / 2 ;
$G-max-width-desktop: 1920px;
$G-grid-max-width-desktop: 1268px;
$G-section-margin-bottom: 170px;
$G-default-font-size: 16px;